{
  "extends": ["plugin:prettier/recommended", "plugin:import/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".d.ts", ".ts", ".tsx"]
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "import"],
  "env": {
    "jquery": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}
